*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
h1{
font-size: 40px;
color: #ffffff;
font-weight: 400;
}
p{
    font-size: 16px;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}

.heros{
    background-color: rgb(130, 114, 146);
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.nav_sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav_sec li{
    list-style: none;
    padding: 0px 10px;
}
.nav_sec li:hover {
    list-style:circle;
    color: #ffffff;
}

.heros-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.heros-btn{
    border: 1px solid #ffffff;
    padding: 10px 20px;
    background-color: transparent;
}

.heros-btn:hover{
    border: 1px solid #000000;
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
}

.heros-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}